body {
    background: url("../images/dark-paths.png");
}
a:link {
    color:crimson;
}
/* the following two blocks make the hotel table scrollable */
.hotel_table {
    position: relative;
    height: 400px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}