html {
    scroll-behavior: smooth;
}

.jumbotron {
    background-image: url("../images/san_francisco.jpg");
    background-repeat: repeat;
    background-size: 100%;
}

label, h1, .invalid-feedback, a, a:hover{
    color: white;
}


input,select {
    opacity: 0.8;
}

h2 {
    margin: 25px;
}

.carousel-caption {
    background-color:black;
    opacity: 0.85;
}

.carousel-control-prev, .carousel-control-next {
    background-color:black;
}